body {
  padding: 0;
  margin: 0;
  background: rgb(255, 255, 255);
}
.social-media {
  width: 40px;
}

.hero-title,
.header-info,
.info {
  font-family: 'Overpass', sans-serif;
}
.hero-title{
  font-size: 25px;
}

link {
  text-decoration: none;
}
.hero {
  background: #33446b;
  color: #ffffff;
}
.header {
  background: #25314e;
  display: flex;
  padding-left: 18vw;
  padding-right: 18vw;
  justify-content: space-between;
  align-items: center;
}
.header-links {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  list-style-type: none;
}
.header-left {
  display: flex;
  flex-direction: column;
  max-width: 80vw;
  gap: 18px;
}
.header-title {
  font-family: 'Allerta Stencil', sans-serif;
  font-weight: bold;
  font-size: 58px;
}
.header-content {
  font-size: 18px;
}
.header-button {
  background: #33446b;
  color: #ffffff;
  border-radius: 5px;
  border-style: solid;
  border-color: #ffffff;
  text-align: center;
  font-size: 15px;
  max-width: 100px;
}
.header-right {
  max-width: 40vw;
  max-height: 20vw;
  border-style: solid;
  border-radius: 5px;
  border-color: #ffffff;
  border-width: 2px;

  box-shadow: 0 0 20px 20px #ffffff20;
}
.header-content {
  display: flex;
  align-items: top;
  gap: 50px;
  padding-left: 18vw;
  padding-right: 18vw;
  padding-top: 90px;
  padding-bottom: 90px;
}
.info {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url("../images/photos/Tafí\ del\ valle.png");
  background-size: cover;
  background-attachment: fixed;
  padding-left: 18vw;
  padding-right: 18vw;
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 50px;
}
.info-title {
  font-size: 25px;
  font-weight: bold;
}

.credits {
  font-size: 18px;
  font-weight: normal;
  color: #5e5e5e;
}
.gallery-row {
  display: flex;
  justify-content: space-between;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-bottom: 15px;
  box-shadow: 0 10px 10px #0000005f;
}
.item-img {
  background: #e2e2e2;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  max-width: 250px;
}
.info-title {
  font-size: 25px;
}
.info-gallery {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.quote {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-left: 25vw;
  padding-right: 25vw;
  padding-top: 50px;
  padding-bottom: 50px;
  background: #e2e2e2;
}
.quote-content {
  font-family: 'Dancing Script', cursive;
  font-style: italic;
  font-size: 28px;
}
.author {
  font-weight: bold;
  font-size: 20px;
}
.join-us {
  background-color: #ffffff;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 30vw;
  padding-right: 30vw;
}
.join-content {
  color: #ffffff;
  background-color: #0000cc;
  border-style: solid;
  border-color: #e2e2e2;
  border-radius: 15px;
  border-width: 5px;
  padding: 25px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.join-left {
  font-size: 20px;
}
.join-title {
  font-size: 25px;
  font-weight: bold;
}
.join-button {
  background: #ffffff;
  color: #004cff;
  border-radius: 5px;
  border-style: solid;
  border-color: #004cff;
  text-align: center;
  font-size: 18px;
  width: 150px;
}
.copyright {
  background: #25314e;
  color: #ffffff;
  padding: 25px;
  text-align: center;
}
@media (max-width: 1250px) {
  .header {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .header-content {
    padding-top: 30px;
    padding-bottom: 25px;
    gap: 25px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: justify;
  }
  .header-title {
    font-size: 36px;
    text-align: left;
  }
  .header-left {
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-content: center;
  }
  .header-right {
    max-width: 62.5vw;
    max-height: 45vw;
  }

  .gallery-row {
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .item {
    display: flex;
    align-content: center;
    gap: 20px;
    padding-bottom: 20px;
  }
  .item-img {
    max-width: 60vw;
    max-height: 45vw;
  }
  .info-title {
    margin-bottom: 8px;
  }
  .quote {
    padding-left: 16vw;
    padding-right: 16vw;
  }

  .quote-content {
    font-style: italic;
    font-size: 16px;
  }
  .author {
    font-weight: bold;
    font-size: 10px;
  }
  .join-us {
    padding-left: 10vw;
    padding-right: 10vw;
  }
  .join-content{
    padding-left: 2.5vw;
    padding-right: 2.5vw;
  }
  .join-left,
  .join-title {
    font-size: 8px;
  }
  .join-title {
    font-weight: bold;
  }
  .join-button {
    background: #ffffff;
    color: #004cff;
    border-radius: 5px;
    border-style: solid;
    border-color: #004cff;
    font-size: 8px;
    max-width: 60px;
  }
  .copyright {
    font-size: 12px;
  }
  .credits {
    font-size: 12px;
  }
}
